multiprocess
cython
psutil
numba
tensorflow==2.3.0
tensorflow_probability==0.11.0
tensorflow_addons==0.11.2
tf_agents==0.6.0
scipy
sklearn
matplotlib
seaborn
imageio
Pillow
sortedcontainers
opencv-python
gym[atari]
more_itertools

triangle
pyhull
