cython
ray>=1.2.0
ray[rllib]
torch>=1.7.1
tensorflow>=2.4.0
tensorflow_probability>=0.12.1
sklearn>=0.0
# Plotter
matplotlib>=3.3.2
imageio>=2.9.0
seaborn>=0.11.0
Pillow>=7.2.0
more_itertools
runstats